<h2>Listado de Especialistas</h2>

<div class="especialistas-grid">
  <div *ngFor="let especialista of especialistas" class="especialista-card">
    <button class="fab-button" (click)="seleccionarUsuario(especialista)">
      <img 
        [src]="especialista.imageUrl || 'assets/default-user.png'" 
        alt="Especialista" 
        class="especialista-imagen" 
      />
      <h4>{{ especialista.nombre }} {{ especialista.apellido }}</h4>
      <p>{{ especialista.email }}</p>
      <p [ngClass]="{ 'habilitado': especialista.habilitado, 'inhabilitado': !especialista.habilitado }">
        {{ especialista.habilitado ? 'Habilitado' : 'Inhabilitado' }}
      </p>
    </button>
    <button 
      *ngIf="especialista.role === 'especialista'" 
      [appPermisos]="usuarioActual.role" 
      [rolPermitido]="'administrador'" 
      [ngClass]="{ 'inhabilitar': especialista.habilitado, 'habilitar': !especialista.habilitado }" 
      (click)="alternarEstadoUsuario(especialista)">
      {{ especialista.habilitado ? 'Inhabilitar' : 'Habilitar' }}
    </button>
  </div>
</div>
