<h2>Listado de Pacientes Atendidos</h2>

<div class="pacientes-grid">
  <div *ngFor="let paciente of pacientesAtendidos" class="paciente-card">
    <button class="fab-button" (click)="seleccionarPaciente(paciente)">
      <img [src]="paciente.imagenes[0]" alt="Paciente" class="paciente-imagen" />
      <h4>{{ paciente.nombre }} {{ paciente.apellido }}</h4>
    </button>
  </div>
</div>



<div class="details-container" *ngIf="pacienteSeleccionado">
  <div *ngIf="!historialVisible">
    <h3>Detalles del Paciente</h3>
    <p><strong>Nombre:</strong> {{ pacienteSeleccionado.nombre }}</p>
    <p><strong>Apellido:</strong> {{ pacienteSeleccionado.apellido }}</p>
    <p><strong>Edad:</strong> {{ pacienteSeleccionado.edad }}</p>
    <p><strong>DNI:</strong> {{ pacienteSeleccionado.dni }}</p>
    <p><strong>Mail:</strong> {{ pacienteSeleccionado.email }}</p>
  </div>

  <!-- Botón para alternar la visibilidad del historial clínico -->
  <button class="toggle-button" (click)="toggleHistoriaClinica()">
    {{ historialVisible ? 'Ocultar Historia Clínica' : 'Mostrar Historia Clínica' }}
  </button>

  <!-- Mostrar el historial clínico si historialVisible es true -->
  <div *ngIf="historialVisible" class="historia-clinica">
    <h3>Historia Clínica de {{ pacienteSeleccionado?.nombre }}</h3>
   <!-- Mostrar los turnos -->
   <div *ngIf="turnos.length > 0">
    <h4>Turnos</h4>
    <div *ngFor="let turno of turnos" class="turno-container">
      <div *ngIf="turno.historiaClinica">
        <h5>Turno de {{ turno.especialidad }}</h5>
        <p><strong>Especialidad:</strong> {{ turno.especialidad }}</p>
        <p><strong>Especialista:</strong> {{ turno.especialista }}</p>
        <p><strong>Fecha:</strong> {{ turno.fecha }}</p>
        <p><strong>Altura:</strong> {{ turno.historiaClinica.altura | formatoValor:'No disponible'  }}</p>
        <p><strong>Peso:</strong> {{ turno.historiaClinica.peso | formatoValor:'No disponible' }}</p>
        <p><strong>Temperatura:</strong> {{ turno.historiaClinica.temperatura | formatoValor:'No disponible' }}</p>
        <p><strong>Presión:</strong> {{ turno.historiaClinica.presion | formatoValor:'No disponible'  }}</p>

        
        <div *ngIf="turno.historiaClinica.datosDinamicos.length === 0">
          <p><strong>Otros Datos:</strong> {{ null | formatoValor:'Sin información disponible' }}</p>
        </div>
        <div *ngIf="turno.historiaClinica.datosDinamicos.length > 0">
          <h5>Otros Datos:</h5>
          <div *ngFor="let dato of turno.historiaClinica.datosDinamicos">
            <p>
              <strong>{{ dato.clave }}:</strong> {{ dato.valor | formatoValor:'Sin valor' }}
            </p>
          </div>
        </div>
        <button class="realizado" (click)="verResenaTurno(turno)">
          ver reseña
         </button>
      </div>
    </div>
  </div>
</div>
