<div class="welcome-container">
    <div class="logo">
      <img src="public/favicon.ico" alt="Logo de la Clínica" />
    </div>
    <h1>Bienvenido a nuestra Clínica</h1>
    <p>
      En nuestra clínica, nos dedicamos a proporcionar atención médica de
      calidad para todos nuestros pacientes. Nuestro equipo de profesionales
      está aquí para cuidar de ti y de tu salud.
    </p>
    <p>
      Para acceder a nuestros servicios, inicia sesión o regístrate si
      aún no tienes una cuenta.
    </p>
    
    <div class="buttons">
      <button class="btn btn-primary"   (click)="goTo('/authentication/login')">Iniciar Sesión</button>
      <button class="btn btn-secondary" (click)="goTo('/authentication/registro')">Registrarse</button>
    </div>
  </div>
  