    // Estilos para el componente de registro

    .registro-titulo {
    text-align: center;
    color: #154360;  // Azul oscuro
    font-size: 1.8rem;
    font-weight: bold;
    }

    .registro-subtitulo {
    text-align: center;
    color: #1E8449;  // Verde clínico
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    }

    .user-type-selection {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
    }

    .user-type-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 150px;  // Ajusta el ancho para que el botón sea rectangular
    height: 200px; // Ajusta la altura para que sea rectangular
    border: none;
    background-color: #f2f3f4;  // Gris claro
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    }   

    .user-type-button:hover {
        background-color: lighten(#1E8449, 30%);  // Verde claro
        transform: scale(1.05);
    }

    img {
        width: 80px;  // Ajusta el tamaño de la imagen si es necesario
        height: 80px;
        margin-bottom: 0.5rem;
    }

    span {
        font-weight: bold;
        color: darken(#154360, 15%);  // Azul texto
        margin-top: 0.5rem;
    }



    .cuenta-texto {
    font-size: 0.9rem;
    color: #154360;  // Azul oscuro
    text-align: center;
    margin-top: 1rem;
    }

    .iniciar-sesion-link {
    color: darken(#1E8449, 20%);  // Verde enlace
    font-weight: bold;
    text-decoration: none;
    margin-left: 0.3rem;
    }
    .iniciar-sesion-link:hover {
        text-decoration: underline;
    }
    .captcha-container {
        margin-top: 15px;
      }
      
      .captcha-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .form-control {
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ddd;
      }
      

