<h2>Bienvenido al Registro</h2>
<label for="tipoUsuario">Selecciona el tipo de usuario:</label>
<select id="tipoUsuario" (change)="cambiarTipoUsuario($event)">
    <option value="paciente">Paciente</option>
    <option value="especialista">Especialista</option>
    <option *ngIf="esAdmin" value="administrador">Administrador</option> <!-- Solo visible si esAdmin es true -->
</select>

<div *ngIf="tipoUsuario === 'especialista'">
    <h2>Registro del Especialista</h2>
    <app-registro-especialista></app-registro-especialista>
</div>
<div *ngIf="tipoUsuario === 'paciente'">
    <h2>Registro del Paciente</h2>
    <app-registro-paciente></app-registro-paciente>
</div>
<div *ngIf="tipoUsuario === 'administrador'"> 
    <h2>Registro del Administrador</h2>
    <app-registro-admin></app-registro-admin>
</div> 
<div class="text-center mt-3" *ngIf="tipoUsuario != 'administrador'">
    <span>¿ya tienes una cuenta?</span>
    <a id="iniciar-sesion" class="text-decoration-none" (click)="goTo('/authentication/login')">iniciar sesion</a>
</div>
