<h2>Listado de Administradores</h2>

<div class="administrador-grid">
  <div *ngFor="let admin of usuarios" class="admin-card">
    <button class="fab-button" (click)="seleccionarUsuario(admin)">
      <img 
        [src]="admin.imageUrl" 
        alt="admin" 
        class="admin-imagen" 
      />
      <h4>{{ admin.nombre }} {{ admin.apellido }}</h4>
      <p>{{ admin.email }}</p>
      <p [ngClass]="{ 'habilitado': admin.habilitado, 'inhabilitado': !admin.habilitado }">
        {{ admin.habilitado ? 'Habilitado' : 'Inhabilitado' }}
      </p>
    </button>
</div>



<!-- 
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios" (click)="seleccionarUsuario(usuario)">
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.apellido }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.role }}</td>
      <td [ngClass]="{ 'habilitado': usuario.habilitado, 'inhabilitado': !usuario.habilitado }">
        {{ usuario.habilitado ? 'Habilitado' : 'Inhabilitado' }}
      </td>
    </tr>
  </tbody>
</table> -->
