body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #2a2a2a; /* Fondo oscuro */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; 
}

.card {
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Colocar los elementos en columna */
  align-items: center; /* Alinear todos los elementos al centro */
  justify-content: center; /* Centrar verticalmente */
  background-color: rgba(183, 244, 249, 0.9);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 20px;
  padding: 40px; 
  width: 600px; 
  height: auto; /* Permitir que la altura se ajuste automáticamente */
  max-width: 90%; 
  min-height: 600px; /* Altura mínima para centrar el contenido */
  margin: 20px auto; /* Centrando la tarjeta horizontalmente */
  text-align: center;
}


h1 {
  color: #333;
  margin-bottom: 20px; /* Espacio entre el título y los campos */
  text-align: center; /* Centrar el texto del título */
  margin-bottom: 25px;
}

.form-control {
  padding: 15px; 
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ddd;
  transition: all 0.3s ease;
  text-align: center; /* Centrar el texto del título */
  width: 250px;
}

.form-control:focus {
  border-color: #ffcc00;
  box-shadow: 0 0 8px rgba(255, 204, 0, 0.5); 
}

label {
  margin-bottom: 5px; 
  font-weight: bold;
  display: block; 
}

#registrarse, #olvido-contrasena {
  margin: 5px 0;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#registrarse:hover, #olvido-contrasena:hover {
  color: #ffcc00;
  cursor: pointer;
}

span {
  font-weight: bold;
}

button {
  background-color: #ffcc00; 
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold; 
  border: none;
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 10px; /* Separación entre botones */
}

button:hover {
  background-color: #ffcc0083; 
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

.quick-access-container {
  display: flex; /* Usar flexbox para alinear los botones */
  justify-content: center; /* Centrar los botones en el contenedor */
  align-items: center; /* Centrar verticalmente los botones */
  margin-bottom: 20px; /* Espacio debajo de los botones */
  width: 100%;
  flex-wrap: wrap; /* Permitir que los botones se ajusten a la línea */
}

.quick-access-btn {
  display: flex; /* Hacer flex el botón */
  align-items: center; /* Centrar el contenido del botón */
  justify-content: center; /* Centrar el contenido del botón */
  background-color: #ffffff; /* Color de fondo blanco */
  color: #333; /* Color del texto */
  border: 2px solid #ddd; /* Bordes */
  border-radius: 10px; /* Bordes redondeados */
  padding: 8px; /* Padding */
  text-decoration: none; /* Sin subrayado */
  margin: 5px; /* Separación entre botones */
  width: 80px; /* Ancho más pequeño para los botones */
  transition: all 0.3s ease; /* Transición suave */
  font-size: 0.9em;
}


.quick-access-btn:hover {
  background-color: #ffcc00; /* Color al pasar el mouse */
  color: #fff; /* Cambiar color del texto */
}

.quick-access-btn img {
  width: 50px; /* Ancho de la imagen */
  height: 33px; /* Altura de la imagen */
  border-radius: 50%; /* Bordes redondeados para la imagen */
}
