/* Estilo para la superposición (overlay) */
.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    position: fixed; /* Fijar la superposición */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999; /* Asegurarse de que esté por encima de otros elementos */
  }
  
  /* Estilo para la tarjeta del formulario */
  .card {
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    border-radius: 20px; /* Bordes redondeados */
  }
  
  /* Título del formulario */
  h1 {
    color: #343a40; /* Color oscuro para el texto */
  }
  
  /* Estilo para el texto de olvido de contraseña */
  #olvido-contrasena {
    color: #007bff; /* Color azul */
    font-weight: bold; /* Negrita */
    cursor: pointer; /* Cambiar cursor al pasar sobre el texto */
  }
  
  /* Efecto hover para el texto de olvido de contraseña */
  #olvido-contrasena:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
  }
  
  /* Estilo para los botones de acceso rápido */
  .quick-access-btn {
    background-color: #f8c74a; /* Color de fondo para botones */
    color: #fff; /* Color del texto en blanco */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
  }
  
  /* Efecto hover para los botones de acceso rápido */
  .quick-access-btn:hover {
    background-color: #e0b034; /* Color más oscuro al pasar el mouse */
  }
  
  /* Estilo para el botón de inicio de sesión */
  .btn-warning {
    background-color: #ffc107; /* Color de fondo amarillo */
    color: #fff; /* Color del texto en blanco */
    border: none; /* Sin borde */
    border-radius: 20px; /* Bordes redondeados */
    padding: 12px 20px; /* Espaciado interno */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
  }
  
  /* Efecto hover para el botón de inicio de sesión */
  .btn-warning:hover {
    background-color: #e0a800; /* Color más oscuro al pasar el mouse */
  }
  
  /* Estilo para el enlace de registro */
  #registrarse {
    color: #007bff; /* Color azul */
    cursor: pointer; /* Cambiar cursor al pasar sobre el texto */
  }
  
  /* Efecto hover para el enlace de registro */
  #registrarse:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
  }
  