<h2>Asignar Disponibilidad Horaria</h2>

<label>Especialidad:</label>
<div *ngFor="let especialidad of especialidades">
  <input type="radio" [value]="especialidad" name="especialidad" (change)="onEspecialidadChange($event)" /> {{especialidad}}
</div>

<div>
  <form (ngSubmit)="guardarDisponibilidad()">
    <div *ngFor="let dia of diasSemana">
      
      <div class="horarios">
        <label>
            <input type="checkbox" [(ngModel)]="disponibilidadSemana[dia].disponibilidad" 
            (change)="onDisponibilidadChange(dia, $event)" />
          {{ dia | capitalize }}
        </label>
        
        
    
        <div *ngIf="disponibilidadSemana[dia].disponibilidad">
          <input 
            type="time" 
            [(ngModel)]="disponibilidadSemana[dia].horaInicio" 
            name="{{ dia }}HoraInicio" 
            placeholder="Hora de inicio">
          <input 
            type="time" 
            [(ngModel)]="disponibilidadSemana[dia].horaFin" 
            name="{{ dia }}HoraFin" 
            placeholder="Hora de fin">
        </div>
      </div>
    </div>

    <button type="submit">Guardar Disponibilidad</button>
  </form>
</div>
