<h2>Listado de Pacientes</h2>

<div *ngIf="usuarioIniciado.role === 'administrador'">
  <div class="pacientes-grid">
    <div *ngFor="let paciente of usuarios" class="paciente-card">
      <button class="fab-button" (click)="seleccionarUsuario(paciente)">
        <img 
          [src]="paciente.imagenes[0]" 
          alt="paciente" 
          class="paciente-imagen" 
        />
        <h4>{{ paciente.nombre }} {{ paciente.apellido }}</h4>
        <p>{{ paciente.email }}</p>
        <p [ngClass]="{ 'habilitado': paciente.habilitado, 'inhabilitado': !paciente.habilitado }">
          {{ paciente.habilitado ? 'Habilitado' : 'Inhabilitado' }}
        </p>
      </button>
  </div>
</div>

<!-- 
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios" (click)="seleccionarUsuario(usuario)">
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.apellido }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.role }}</td>
      <td [ngClass]="{ 'habilitado': usuario.habilitado, 'inhabilitado': !usuario.habilitado }">
        {{ usuario.habilitado ? 'Habilitado' : 'Inhabilitado' }}
      </td>

    </tr>
  </tbody>
</table> -->
