h2 {
    color: #154360; /* Azul oscuro */
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem; /* Tamaño de fuente mayor */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF; /* Blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Asegurarse de que los bordes redondeados se vean */
  }
  
  th, td {
    padding: 1rem; /* Espaciado mayor para mejorar la legibilidad */
    text-align: left;
  }
  
  thead {
    background-color: #154360; /* Azul oscuro */
    color: #FFFFFF; /* Blanco */
  }
  
  thead th {
    font-weight: bold;
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 0.05em; /* Espaciado entre letras */
  }
  
  tbody tr {
    transition: background-color 0.3s ease, transform 0.2s ease; /* Suaviza el hover */
  }
  
  tbody tr:nth-child(even) {
    background-color: #F2F3F4; /* Gris claro */
  }
  
  tbody tr:hover {
    background-color: #D5E8E8; /* Azul claro al pasar el mouse */
    transform: scale(1.01); /* Efecto de aumento sutil al hacer hover */
  }
  
  tbody td {
    border-bottom: 1px solid #F2F3F4; /* Gris claro */
  }
  td.habilitado {
    color: #28a745; /* Verde */
    font-weight: bold;
  }
  
  td.inhabilitado {
    color: #dc3545; /* Rojo */
    font-weight: bold;
  }



  .pacientes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  /* Espacio entre los FABs */
    justify-content: center;
    padding: 20px;
  }
  
  .paciente-card {
    display: flex;
    justify-content: center;
  }
  
  .fab-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 290px;  /* Tamaño del FAB */
    height: 290px;
    border-radius: 50%;  /* Hace el botón circular */
    background-color: #a8e7aa; /* Color de fondo del botón */
    border: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .fab-button:hover {
    transform: scale(1.05);  /* Efecto de aumento al pasar el mouse */
  }
  
  .paciente-imagen {
    width: 120px;  /* Tamaño de la imagen dentro del botón */
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;  /* Espacio entre la imagen y el nombre */
  }
  
  .fab-button h4 {
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
    font-weight: bold;
  }
  
  /* Títulos y descripciones */
  h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
  }
  
  /* Colores de estado habilitado o inhabilitado */
  .habilitado {
    color: green;
  }
  
  .inhabilitado {
    color: red;
  }
  
  /* Estilos para el contenedor de habilitar/inhabilitar */
  // .habilitar-container {
  //   margin-top: 10px;  /* Separa del botón circular */
  //   display: flex;
  //   justify-content: center;
  // }
  
  /* Botón pequeño para habilitar/inhabilitar */
  button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button.habilitar {
    background-color: #4caf50;  /* Verde */
    color: white;
  }
  
  .button.inhabilitar {
    background-color: #f44336;  /* Rojo */
    color: white;
  }
  
  .button:hover {
    opacity: 0.8;
  }
    