<nav class="navbar">
    <a class="nav-link" routerLink="home" routerLinkActive="active-route">HOME</a>
    <a class="nav-link" routerLink="quien-soy" routerLinkActive="active-route">QUIÉN SOY</a>
  
    <div class="nav-links-derecha">
      <a *ngIf="isAdmin" class="nav-link-encuesta" (click)="goTo('/usuarios/seccion-usuarios')">seccion usuarios</a>
      <a *ngIf="isLoggedIn" class="nav-link-logout" (click)="confirmLogout()">CERRAR SESION</a>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  