<div class="details-container" *ngIf="usuario">
  <h3>Detalles del Usuario</h3>
  <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
  <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
  <p><strong>Edad:</strong> {{ usuario.edad }}</p>
  <p><strong>DNI:</strong> {{ usuario.dni }}</p>
  <p><strong>Mail:</strong> {{ usuario.email }}</p>

  <div *ngIf="esPaciente" class="paciente">
    <p><strong>Obra Social:</strong> {{ usuario.obraSocial }}</p>
    <div>
      <strong>Imágenes de Perfil:</strong>
      <img *ngFor="let img of usuario.imagenes" [src]="img" alt="Imagen de Perfil" width="100" />
    </div>
  </div>

  <div *ngIf="esEspecialista" class="especialista">
    <p><strong>Especialidad:</strong> {{ usuario.especialidad }}</p>
    <strong>Imágen de Perfil:</strong>
    <img *ngFor="let img of usuario.imagenes" [src]="img" alt="Imagen de Perfil" width="100" />
  </div>

  <div *ngIf="esAdministrador" class="administrador">
    <div>
      <strong>Imágen de Perfil:</strong>
      <img *ngFor="let img of usuario.imagenes" [src]="img" alt="Imagen de Perfil" width="100" />
    </div>
  </div>
</div>
