<h2> Bienvenido a la sección de Usuarios</h2>

<!-- Botones para seleccionar el tipo de listado -->
<div class="botones-container" *ngIf="!registroVisible">
  <button (click)="mostrarListado('especialista')" [ngClass]="{ active: listadoSeleccionado === 'especialista' }">Listado Especialistas</button>
  <button (click)="mostrarListado('paciente')" [ngClass]="{ active: listadoSeleccionado === 'paciente' }">Listado Pacientes</button>
  <button (click)="mostrarListado('admin')" [ngClass]="{ active: listadoSeleccionado === 'admin' }">Listado Administradores</button>
</div>

<div [@routeAnimations]>
  <div class="usuarios-container" *ngIf="!registroVisible">
    <!-- Componente de Listado de Usuarios -->
    <app-listado-especialista *ngIf="listadoSeleccionado === 'especialista'" (usuarioSeleccionado)="mostrarDetalles($event)" ></app-listado-especialista>
    <app-listado-paciente *ngIf="listadoSeleccionado === 'paciente'" (usuarioSeleccionado)="mostrarDetalles($event)"></app-listado-paciente>
    <app-listado-admin *ngIf="listadoSeleccionado === 'admin'" (usuarioSeleccionado)="mostrarDetalles($event)"></app-listado-admin>

    <!-- Componente de Detalle de Usuarios -->
    <app-detalle-usuarios *ngIf="usuarioSeleccionado" [usuario]="usuarioSeleccionado"></app-detalle-usuarios>

    <!-- Botón para descargar Excel, visible solo para el perfil de Administrador -->
 <!-- Botón para descargar Excel del usuario seleccionado -->
    <button 
    class="download-button" 
    *ngIf="usuarioSeleccionado && usuarioSeleccionado.role !== 'administrador'" 
    (click)="exportarUsuarioSeleccionado()">
    Descargar Excel Usuario
    </button>

    <!-- Botón para descargar todos los usuarios -->
    <button 
    class="download-button" 
    (click)="exportarTodosLosUsuarios()">
    Descargar Todos los Usuarios
    </button>
</div>

<!-- Botón para mostrar/ocultar el registro -->
<div class="boton-registro-container">
  <button id="boton-registro" (click)="toggleRegistro()">
    {{ registroVisible ? 'Ocultar Registro' : 'Crear Usuario' }}
  </button>
</div>

<!-- Componente de Registro de Usuarios -->
<app-registro *ngIf="registroVisible"></app-registro>


<router-outlet></router-outlet>
