/* Estilos generales del componente */
h2 {
  color: #154360; /* Azul oscuro */
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Contenedor para la sección de usuarios */
.usuarios-container {
  display: flex; /* Usamos flexbox para alinearlos verticalmente */
  flex-direction: column; /* Cambia la dirección a vertical */
  align-items: center; /* Centra los componentes horizontalmente */
  margin-bottom: 1rem; /* Espacio inferior entre el contenedor y el botón */
}

/* Ajustes de cada componente */
app-listado-usuarios,
app-detalle-usuarios,
app-registro {
  width: 85%; /* Cada componente ocupa el 85% del ancho */
  margin-bottom: 1rem; /* Espacio inferior entre los componentes */
}

/* Ajustes de tamaño para el componente de detalle de usuarios */
app-detalle-usuarios {
  margin-top: 20px;
  max-height: 570px; /* Limita la altura máxima */
  overflow-y: auto; /* Agrega scroll vertical si el contenido excede la altura */
  border-radius: 4px; /* Bordes redondeados */
}


/* Contenedor de botones */
.botones-container {
  display: flex; /* Usamos flexbox para alinear los botones */
  justify-content: center; /* Centra los botones horizontalmente */
  margin-bottom: 1rem; /* Espacio inferior entre los botones y el listado */
}

/* Estilos para los botones */
button {
  margin: 0 1rem; /* Espaciado horizontal entre botones */
  padding: 0.5rem 1rem; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #1E8449; /* Color verde oscuro */
  color: #FFFFFF; /* Color blanco para el texto */
  font-size: 1rem; /* Tamaño de fuente */
  cursor: pointer; /* Cursor de puntero para indicar que es clickeable */
  transition: background-color 0.3s ease; /* Efecto de transición al cambiar el color */
}

button:hover {
  background-color: #145A32; /* Color al pasar el ratón */
}

/* Estilo para el botón activo */
button.active {
  background-color: #145A32; /* Color para el botón activo */
  font-weight: bold; /* Resaltar texto del botón activo */
}
/* Contenedor del botón de registro */
.boton-registro-container {
  display: flex; /* Usamos flexbox para alinear el botón */
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 1rem; /* Espacio superior entre el listado y el botón */
}

/* Estilos generales del botón, si no lo has hecho ya */
#boton-registro {
  padding: 0.5rem 1rem; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #1E8449; /* Color verde oscuro */
  color: #FFFFFF; /* Color blanco para el texto */
  font-size: 1rem; /* Tamaño de fuente */
  cursor: pointer; /* Cursor de puntero para indicar que es clickeable */
  transition: background-color 0.3s ease; /* Efecto de transición al cambiar el color */
}

#boton-registro:hover {
  background-color: #145A32; /* Color al pasar el ratón */
}

